<!doctype html>
<html lang="it">
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Test di verifica infezione al SARS-CoV-2 (COVID-19)">
    <meta name="keywords" content="Covid-19, MLOps, SARS-CoV-2 Probability Checker, Covid-19 Probability Checker, SARS-CoV-2 Probability Infection Checker, Covid-19 Probability Infection Checker">
    <meta name="author" content="Antonio Romano">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/LaErre9/POC_MLOps-Covid_Probability_Infection_Checker/main/templates/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://raw.githubusercontent.com/LaErre9/POC_MLOps-Covid_Probability_Infection_Checker/main/templates/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>SARS-CoV-2 (COVID-19) Probability Infection Checker</title>
  </head>

  <body>
    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
  
    <div style="margin-top: 10px; margin-right: 15px;">
      <span style="margin-top: 10px; color: white; font-size: 20px ;"><b>SARS-CoV-2 (COVID-19)</b><br><p style="font-size: small;">Probability Infection Checker</p></a></span>
    </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#About">About</a>
      </li>

  </div>
</nav>

<!--Contenuto del body-->
    <!--Titolo centrale e paragrafo testo-->
    <div class="container">
     <center><img src="https://raw.githubusercontent.com/LaErre9/POC_MLOps-Covid_Probability_Infection_Checker/main/templates/covid_probability_detector.png?token=AB475L7VVLSSF7KDB3NM25DBIODCE" alt = "covid-icon-probabilty" width="100" height="auto" style="margin-top: 15px; margin-bottom: -20px;"></center>
     <h2 class="text-center" style="margin: 25px;"><b><span style="color: red;">Coronavirus </span></b>Probability <i>Infection</i> Checker</h2>
    <p>Indica <b>"Yes"</b> se presenti i seguenti sintomi, malattie o informazioni utili per il calcolo della possibile probabilità di infezione al virus SARS-CoV-2 (COVID-19). <br>
    	</p>
    <form action="/" method="POST">

  <h3>Sintomi</h3>
  <h7>Presenta questi sintomi?</h7>
  <hr>

  <!--Form problema di respirazione-->
  <div class="form-group">
    <label  for="Breathing Problem"><b>Breathing Problem</b><i> (Problema di respirazione)</i><br>Difficoltà respiratorie, respiro affannoso, respiro pesante, sensazione di respiro incompleto</label>
    <select class="custom-select" name="Breathing Problem" id="Breathing Problem">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form febbre-->
  <div class="form-group">
    <label  for="Fever"><b>Fever</b><i> (Febbre)</i><br>Temperatura corporea > 37.5 °C (> 99.5 °F)</label>
    <select class="custom-select" name="Fever" id="Fever">
      <option value="0">No</option>
      <option value="1" >Yes</option> 
    </select>
  </div>

  <!--Form tosse secca-->
  <div class="form-group">
    <label  for="Dry Cough"><b>Dry Cough</b><i> (Tosse secca)</i><br> Tosse secca, irritativa, persistente, non accompagnata dalla presenza di secrezioni catarrali</label>
    <select class="custom-select" name="Dry Cough" id="Dry Cough">
      <option value="0">No</option>
      <option value="1" >Yes</option> 
    </select>
  </div>

  <!--Form mal di gola-->
  <div class="form-group">
    <label  for="Sore throat"><b>Sore throat</b><i> (Mal di gola)</i><br> Dolore alla gola, difficoltà a deglutire</label>
    <select class="custom-select" name="Sore throat" id="Sore throat">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form naso che cola-->
  <div class="form-group">
    <label  for="Running Nose"><b>Running Nose</b><i> (Naso che cola)</i><br> Perdita eccessiva di muco dal naso, o dai seni paranasali, verso l'esterno o verso la gola</label>
    <select class="custom-select" name="Running Nose" id="Running Nose">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form Asthma-->
  <div class="form-group">
    <label  for="Asthma"><b>Asthma</b><i> (Asma)</i><br> Fiato corto dopo piccolo sforzo fisico, tosse frequente e raschiamento della gola</label>
    <select class="custom-select" name="Asthma" id="Asthma">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form mal di testa-->
  <div class="form-group">
    <label  for="Headache"><b>Headache</b><i> (Mal di testa)</i><br> Dolore diffuso a tutto il cranio, sensazione di costrizione e peso al vertice del cranio, pesantezza sul seno frontale</label>
    <select class="custom-select" name="Headache" id="Headache">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form fatica-->
  <div class="form-group">
    <label  for="Fatigue "><b>Fatigue</b><i> (Fatica)</i><br> Fatica, stress e spossatezza</label>
    <select class="custom-select" name="Fatigue " id="Fatigue ">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form Gastrointestinale-->
  <div class="form-group">
    <label  for="Gastrointestinal "><b>Gastrointestinal Problem</b><i> (Problemi Gastrointestinali)</i><br> Diarrea, nausea, vomito, fastidi allo stomaco e all'intestino</label>
    <select class="custom-select" name="Gastrointestinal " id="Gastrointestinal ">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <h3 style="margin-top: 5%;">Malattie critiche per il COVID-19</h3>
  <h7>Se presenti queste malattie, stai attento!</h7>
  <hr>

  <!--Form Malattia polmonare cronica -->
  <div class="form-group">
    <label  for="Chronic Lung Disease"><b>Chronic Lung Disease</b><i> (Malattia polmonare cronica)</i><br> Patologia dell'apparato respiratorio caratterizzata da un'ostruzione irreversibile di bronchi e polmoni</label>
    <select class="custom-select" name="Chronic Lung Disease" id="Chronic Lung Disease">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form malattia cardiaca-->
  <div class="form-group">
    <label  for="Heart Disease"><b>Heart Disease</b><i> (Malattia cardiaca)</i><br> Presenza di patologie del sistema cardiovascolare</label>
    <select class="custom-select" name="Heart Disease" id="Heart Disease">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form diabete-->
  <div class="form-group">
    <label  for="Diabetes"><b>Diabetes</b><i> (Diabete)</i><br> Eccesso di zuccheri nel sangue (iperglicemia)</label>
    <select class="custom-select" name="Diabetes" id="Diabetes">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form iper tensione-->
  <div class="form-group">
    <label  for="Hyper Tension"><b>Hyper Tension</b><i> (Iper tensione)</i><br> Condizione caratterizzata dall'elevata pressione del sangue nelle arterie</label>
    <select class="custom-select" name="Hyper Tension" id="Hyper Tension">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <h3 style="margin-top: 5%;">Informazioni utili per il COVID-19</h3>
  <h7>Hai rispettato le regole imposte dallo stato?</h7>
  <hr>

  <!--Form viaggi all'estero-->
  <div class="form-group">
    <label  for="Abroad travel"><b>Abroad travel</b><i> (Viaggi all'estero)</i><br> Viaggio all'estero, viaggio in paesi con tasso di positività alto</label>
    <select class="custom-select" name="Abroad travel" id="Abroad travel">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form Contatto con paziente COVID-->
  <div class="form-group">
    <label  for="Contact with COVID Patient"><b>Contact with COVID Patient</b><i> (Contatto con un paziente COVID)</i><br> Contatto con paziente risultato positivo a tampone molecolare o a test sierologico IgM RBD anti-SARS-CoV-2</label>
    <select class="custom-select" name="Contact with COVID Patient" id="Contact with COVID Patient">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Forma partecipazione a raduni, manifestazioni-->
  <div class="form-group">
    <label  for="Attended Large Gathering"><b>Attended Large Gathering</b><i> (Partecipazione a grandi raduni)</i><br> Partecipazione a raduni, manifestazioni, concerti, stadio</label>
    <select class="custom-select" name="Attended Large Gathering" id="Attended Large Gathering">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form visite luoghi pubblici-->
  <div class="form-group">
    <label  for="Visited Public Exposed Places"><b>Visited Public Exposed Places</b><i> (Luoghi pubblici esposti visitati)</i><br> Visita a luoghi pubblici come treni pubblici, bus, tram, supermercati, scuole, università, palestre, centro commerciali e simili</label>
    <select class="custom-select" name="Visited Public Exposed Places" id="Visited Public Exposed Places">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form famiglia che lavora in luoghi pubblici esposti-->
  <div class="form-group">
    <label  for="Family working in Public Exposed Places"><b>Family working in Public Exposed Places</b><i> (Famiglia che lavora in luoghi pubblici esposti)</i><br> Famiglia che lavora in luoghi pubblici come scuole, palestre, banche, poste, centrocommerciali, supermercati e simili</label>
    <select class="custom-select" name="Family working in Public Exposed Places" id="Family working in Public Exposed Places">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form Indossato la mascherina-->
  <div class="form-group">
    <label  for="Wearing Masks"><b>Wearing Masks</b><i> (Indossare mascherine)</i><br> Indossato la mascherina nei luoghi pubblici</label>
    <select class="custom-select" name="Wearing Masks" id="Wearing Masks">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Form Sanitization from market-->
  <div class="form-group">
    <label  for="Sanitization from Market"><b>Sanitization from Market</b><i> (Sanificazione del mercato)</i><br> Sanificazione dei luoghi mercatali esposti</label>
    <select class="custom-select" name="Sanitization from Market" id="Sanitization from Market">
      <option value="0">No</option>
      <option value="1" >Yes</option>
    </select>
  </div>

  <!--Button Submit-->
  <p>&#9888; N.B Il sistema di calcolo è stato realizzato per soli scopi dimostrativi pertanto il risultato potrebbe non essere attendibile. Inoltre i dati inseriti non verranno memorizzati.</p>
  <button class="btn btn-primary" > Calculate the probability of infection at COVID-19 </button>
    <p> </p>
    </form>

  <!--About-->
  <a name = "About">
    <h3 style="margin-top: 80px;">About</h3>
    <hr>
    <div>
      <p>Questo applicativo è stato realizzato con <img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/267_Python-512.png" style="width: 20px; height: auto; margin-right: 5px;"><b>Python</b> e il framework <img src="https://cdn.iconscout.com/icon/free/png-256/flask-51-285137.png" style="width: 20px; height: auto; margin-right: 5px;"><b>Flask</b>, distribuito con 
      <img src="https://cdn.iconscout.com/icon/free/png-512/heroku-3628830-3030107.png" style="width: 20px; height: auto; margin-right: 5px;"> <b>Heroku</b> e <i>Automatic Deploy</i> del main branch del repository <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" style="width: 20px; height: auto; margin-right: 5px;"><b>GitHub</b>
      disponibile al seguente link: <a href="https://github.com/LaErre9/POC_MLOps-Covid_Probability_Infection_Checker" target="_blank">Proof-of-Concept MLOps Covid_Probability_Infection_Checker</a></p>
      <center><img src="https://raw.githubusercontent.com/LaErre9/POC_MLOps-Covid_Probability_Infection_Checker/main/templates/scheme_function.png?token=AB475L2KW3GNVL26SLBOT4DBI5F3O" style="width: 100%; height: 100%;"></center>
    </div>
  </a>

  <!--Copyright-->
  <h3 style="margin-top: 80px;">Copyright</h3>
    <hr>
    <div>
      <p>Sviluppato solo per scopi dimostrativi e funzionali per il lavoro di Tesi Triennale "Machine Learning Operations: principi, caratteristiche ed applicazione", Università Federico II di Napoli, Facoltà di Ingegneria Informatica, Antonio Romano
         <a class="nav-link" href="#"></a><img src="https://upload.wikimedia.org/wikipedia/it/1/11/Napoli_university_seal_alfachannel.png" style="width: 50px; height: auto; float:right; margin-bottom: 20px;"></a>
        
      </p> 
      </div>
</div>
 
  </script>

    <!--JavaScript-->
    <!--jQuery, Popper.js, Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
