<!doctype html>
<html lang="it">
  <head>
    <!--Meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Test di verifica infezione al SARS-CoV-2 (COVID-19)">
    <meta name="keywords" content="Covid-19, MLOps, SARS-CoV-2 Probability Checker, Covid-19 Probability Checker, SARS-CoV-2 Probability Infection Checker, Covid-19 Probability Infection Checker">
    <meta name="author" content="Antonio Romano">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>SARS-CoV-2 (COVID-19) Probability Infection Checker - Result</title>
  </head>
  <body>

  <!--Contentuo-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <div style="margin-top: 10px; margin-right: 15px;">
        <span style="margin-top: 10px; color: white; font-size: 20px ;"><b>SARS-CoV-2 (COVID-19)</b><br><p style="font-size: small;">Probability Infection Checker</p></a></span>
      </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
  </div>
</nav>

    <!--Risultato-->
    <div class="container">
      <center><img src="https://raw.githubusercontent.com/LaErre9/POC_MLOps-Covid_Probability_Infection_Checker/main/templates/covid_probability_detector.png?token=AB475L7VVLSSF7KDB3NM25DBIODCE" alt = "covid-icon-probabilty" width="100" height="auto" style="margin-top: 15px; margin-bottom: -20px;"></center>
      <h2 class="text-center" style="margin: 25px;"><b><span style="color: red;">Coronavirus </span></b>Probability <i>Infection</i> Checker</h2>
      <h3>Il risultato</h3>
      <hr>
      <p> La probabilità di infezione del paziente è <b>{{inf}}%</b>. {{text}}</p>
      <p> &#9742 <b>Numero Verde Regionale: </b><a href="https://www.salute.gov.it/portale/nuovocoronavirus/dettaglioContenutiNuovoCoronavirus.jsp?lingua=italiano&id=5364&area=nuovoCoronavirus&menu=vuoto">Clicca qui per l'elenco</a>
      <br> &#9742 <b>Numero Pubblica Utilità: </b>1500
      <br> &#128279 <b>Link utile: </b><a href="https://www.salute.gov.it/portale/nuovocoronavirus/dettaglioFaqNuovoCoronavirus.jsp?lingua=italiano&id=257">Tutte le informazioni a come comportarsi in caso di sintomi</a></p>
    <a href="/">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go Back</button>
    </a>

      <!--About-->
  <a name = "About">
    <h3 style="margin-top: 80px;">About</h3>
    <hr>
    <div>
      <p>Questo applicativo è stato realizzato con <img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/267_Python-512.png" style="width: 20px; height: auto; margin-right: 5px;"><b>Python</b> e il framework <img src="https://cdn.iconscout.com/icon/free/png-256/flask-51-285137.png" style="width: 20px; height: auto; margin-right: 5px;"><b>Flask</b>, distribuito con 
      <img src="https://cdn.iconscout.com/icon/free/png-512/heroku-3628830-3030107.png" style="width: 20px; height: auto; margin-right: 5px;"> <b>Heroku</b> e <i>Automatic Deploy</i> del main branch del repository <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" style="width: 20px; height: auto; margin-right: 5px;"><b>GitHub</b>
      disponibile al seguente link: <a href="https://github.com/LaErre9/POC_MLOps-Covid_Probability_Infection_Checker" target="_blank">Proof-of-Concept MLOps Covid_Probability_Infection_Checker</a></p>
      <center><img src="https://raw.githubusercontent.com/LaErre9/POC_MLOps-Covid_Probability_Infection_Checker/main/templates/scheme_function.png?token=AB475L2KW3GNVL26SLBOT4DBI5F3O" style="width: 100%; height: 100%;"></center>
    </div>
  </a>

  <!--Copyright-->
  <h3 style="margin-top: 80px;">Copyright</h3>
    <hr>
    <div>
      <p>Sviluppato solo per scopi dimostrativi e funzionali per il lavoro di Tesi Triennale "Machine Learning Operations: principi, caratteristiche ed applicazione", Università Federico II di Napoli, Facoltà di Ingegneria Informatica, Antonio Romano
         <a class="nav-link" href="#"></a><img src="https://upload.wikimedia.org/wikipedia/it/1/11/Napoli_university_seal_alfachannel.png" style="width: 50px; height: auto; float:right; margin-bottom: 20px;"></a>
      </p> 
      </div>
</div>
    </div>

    



    <!--JavaScript-->
    <!--jQuery, Popper.js, Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>