<!doctype html>
<html lang="it">
  <head>
    <!--Meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>SARS-CoV-2 (COVID-19) Probability Infection Checker - Result</title>
  </head>
  <body>
  <!--Contentuo-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="#">
    <div>
      <span style="margin-top: 10px;"><b>SARS-CoV-2 (COVID-19)</b><br><p style="font-size: small;">Probability Infection Checker</p></a></span>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../#About">About</a>
      </li>
  </div>
</nav>

    <!--Risultato-->
    <div class="container">
      <center><img src="https://raw.githubusercontent.com/LaErre9/Tesi_Experiment_MLOps/main/templates/covid_probability_detector.png?token=AB475L6JXKRK66BUF457R2LBHYR2K" alt = "covid-icon-probabilty" width="100" height="auto" style="margin-top: 15px; margin-bottom: -20px;"></center>
      <h2 class="text-center" style="margin: 25px;"><b><span style="color: red;">Coronavirus </span></b>Probability <i>Infection</i> Checker</h2>
      <h3>Il risultato</h3>
      <hr>
      <p> La probabilità di infezione del paziente è <b>{{inf}}%</b>. {{text}}</p>
      <p> &#9742 <b>Numero Verde Regionale: </b><a href="https://www.salute.gov.it/portale/nuovocoronavirus/dettaglioContenutiNuovoCoronavirus.jsp?lingua=italiano&id=5364&area=nuovoCoronavirus&menu=vuoto">Clicca qui per l'elenco</a>
      <br> &#9742 <b>Numero Pubblica Utilità: </b>1500
      <br> &#128279 <b>Link utile: </b><a href="https://www.salute.gov.it/portale/nuovocoronavirus/dettaglioFaqNuovoCoronavirus.jsp?lingua=italiano&id=257">Tutte le informazioni a come comportarsi in caso di sintomi</a></p>
    <a href="/">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go Back</button>
    </a>
    </div>



    <!--JavaScript-->
    <!--jQuery, Popper.js, Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>